Aula 01 - 2 semestre - Revisão (09/08/2024)

1. Crie um programa que solicite três notas para três alunos. Após isso, calcule a média de cada aluno e retorne a média global. Utilize a estrutura de entrada para o usuário.

In [ ]:
aluno1 = []
aluno2 = []
aluno3 = []
media_total = []
soma_total = 0
soma1 = 0
soma2 = 0
soma3 = 0
media_final = 0

for i in range(1,4):
    notas1 = float(input(f'Digite a nota {i} do aluno 1:'))
    aluno1.append(notas1)

for i in range(1,4):
    notas2 = float(input(f'Digite a nota {i} do aluno 2:'))
    aluno2.append(notas2)
for i in range(1,4):
    notas3 = float(input(f'Digite a nota {i} do aluno 3:'))
    aluno3.append(notas3)

for l in aluno1:
    soma1 = soma1 + l
media1 = soma1/3
media_total.append(media1)
print(f'A média da notas do aluno 1 é {media1}')

for l in aluno2:
    soma2 = soma2 + l
media2 = soma2/3
media_total.append(media2)
print(f"A média das notas do aluno 2 é {media2}")

for l in aluno3:
    soma3 = soma3 + l
media3 = soma3/3
media_total.append(media3)
print(f"A média das notas do aluno 3 é {media3}")
print()

for m in media_total:
    soma_total = soma_total + m

media_final = (soma_total)/3
print(f"A média total das 3 médias é {media_final}")

In [ ]:
coberturas = ['pepperoni', 'tomate', 'queijo', 'cebola']

for cobertura_requisita in coberturas:
    if cobertura_requisita == 'tomate':
        print('Desculpe, mas estamos sem tomate')
    else:
        print('Adicione cobertura')

In [ ]:
ordem = ['first', 'second', 'third', 'fourth']
titulo = ['king', 'queen', 'princess', 'duke']

for i in ordem:
    for k in titulo:
        print(i,k)

In [ ]:
#juntando 2 listas em uma. Primeiro elemento é a nota e o segundo a frequencia. 
# lista_n = [8,7,,7.5,9]
#lista_f = [80,85,90,70]

lista_nf = [(8,80), (7,85), (7.5, 90), (9,70)]
lista_nf[3][0]

2. Crie um programa para calcular o desconto no salário em função da tabela de imposto de renda abaixo. Retorne o desconto e o salário líquido. Resolva o exercício sem e com o recurso de lista. 
lista = (desconto,salario liquido)

In [ ]:
salario = float(input('Digite seu salário:'))
lista_desconto = [(2.112,0), (2826.66, 0.075), (3751.06, 0.15), (4664.68, 0.225), (float('inf'), 0.275)]

for limite, taxa in lista_desconto:
    if salario <= limite:
        desconto = salario * taxa
    break 

salario_liquido = salario - desconto 
print(f'O desconto é de {desconto} e o salário líquido é R$ {salario_liquido}')

In [ ]:
salario = float(input('Digite seu salário:'))


if salario <= 2.112:
    desconto = 0
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')
 
    
elif salario > 2.112 and salario <= 2826.66:
    desconto = salario * 0.075
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')

elif salario > 2826.66 and salario <= 3751.06:
    desconto = salario * 0.15
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')

elif salario > 3751.06 and salario <= 4664.68:
    desconto = salario * 0.225
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')

else:
    desconto = salario * 0.275
    salario_liquido = salario - desconto
    print(f'O salário líquido é R$ {salario_liquido} e o desconto é {desconto}')

3. Crie uma função para o exercício 2. Retornar o desconto e o salário líquido. 

def nome ():
    
return salario_liquido, desconto

Aula 2 - Tuplas

In [ ]:
tupla_tupla = (4,5,6),(7,8)
for m in tupla_tupla:
    print(m)

In [ ]:
for m in tupla_tupla:
    for k in m:
        print(k)

In [ ]:
tupla = tuple('String')
print(tupla)

In [ ]:
tupla = tuple(['foo', [1,2,3], True])
tupla

In [ ]:
tupla[1].append(4)
tupla

In [ ]:
tupla = tuple(['foo', [1,2,3], True])
print(tupla)

lista = list(tupla)
print(lista)

lista.insert(0,'FIAP')
lista

posicao_insercao = lista.index('foo') + 1
lista.insert(posicao_insercao, 'foo fighters')

tupla_nova = tuple(lista)
print(tupla_nova)

In [ ]:
(4, None, 'foo') + (6,0) + ('fiap', 1)

In [ ]:
(4, None, 'foo') + (6,0) + ('fiap', 1) * 4

In [ ]:
tupla = (100,1000,10000)

a,b,c = tupla 

print(a)
print(b)
print(c)

In [ ]:
def nome_funcao(parametros):
    a = (20 + 50) / 2
    b = (20 + 50)
    return a, b
nome_funcao

In [2]:
#1.
frutas = ('maçã', 'banana', 'laranja', 'uva')
frutas

('maçã', 'banana', 'laranja', 'uva')

In [3]:
#2.
frutas[1]
print(frutas[1])

banana

In [4]:
#3.
lista2 = list(frutas)
print(lista2)
lista2.insert(2, 'manga')
lista2
frutas_modificadas = tuple(lista2)
frutas_modificadas

['maçã', 'banana', 'laranja', 'uva']

('maçã', 'banana', 'manga', 'laranja', 'uva')

In [ ]:
#4. 
tupla2 = ('abacaxi', 'limão')
frutas_concatenadas = frutas_modificadas + tupla2
frutas_concatenadas

In [ ]:
#5.
for l in frutas_concatenadas:
    if l == 'uva':
        print(l)
        break

Crie um algoritmo para calcular a média dos alunos abaixo. Utilize a estrutura de repetição e tuplas.
(Laura, 85, 90, 88)
(Paulo, 60, 75, 68)
(Ana, 68, 80, 90)
(Jose, 80, 90, 72)

In [28]:
lista_alunos = [('Laura', 85, 90, 88), ('Paulo', 60, 75, 68), ('Ana', 68, 80, 90), ('Jose', 80,90,72)]

for l in lista_alunos:
    nome, nota1, nota2, nota3 = l
    media = (nota1 + nota2 + nota3)/ 3
    print(f"O Aluno {nome} tem media {media:.2f}")

O Aluno Laura tem media 87.67
O Aluno Paulo tem media 67.67
O Aluno Ana tem media 79.33
O Aluno Jose tem media 80.67

Crie um programa para análise de despesas. Utilize a estrutura de repetição e tuplas. 

viagens, 5000, 15000, 25000, 9800
restaurantes, 230, 100, 50, 415
transporte, 50, 15, 89, 115
viagens, 5000, 15000, 25000, 9800

In [32]:
lista_viagens = [('Viagens', 5000, 15000, 25000, 9800), ('Restaurantes', 230, 100, 50, 415), ('Transporte', 50, 15, 89, 115)]

for k in lista_viagens:
    categoria, desp1, desp2, desp3, desp4 = k 
    gastos_totais = desp1 + desp2 + desp3 + desp4
    print(f"Os gastos totais de {categoria} é de R$ {gastos_totais}.")

Os gastos totais de Viagens é de R$ 54800.
Os gastos totais de Restaurantes é de R$ 795.
Os gastos totais de Transporte é de R$ 269.

Crie um programa para catalogação de livros. Utilize a estrutura de repetição e tuplas. 

livros = [

    ('O Senhor dos Aneis', 'J.R.R Tolkien'), ('O Hobbit', 'J.R.R Tolkien'), ('1984', 'George Orwell')
]

In [34]:
livros = [('O Senhor dos Aneis', 'J.R.R Tolkien'), ('O Hobbit', 'J.R.R Tolkien'), ('1984', 'George Orwell')]

for l in livros:
    livro, autor = l
    print(f"O Livro {livro} é do autor {autor}.")

O Livro O Senhor dos Aneis é do autor J.R.R Tolkien.
O Livro O Hobbit é do autor J.R.R Tolkien.
O Livro 1984 é do autor George Orwell.

DICIONÁRIOS E DATAFRANE

In [36]:
estudantes = [
    {'nome': 'Alice', 'Idade':40},
    {'nome': 'Bob', 'Idade':37},
    {'nome': 'Chris', 'Idade':33},

]

print(estudantes)

[{'nome': 'Alice', 'Idade': 40}, {'nome': 'Bob', 'Idade': 37}, {'nome': 'Chris', 'Idade': 33}]

In [38]:
import pandas as pd

dados = pd.DataFrame(estudantes)
dados

    nome  Idade
0  Alice     40
1    Bob     37
2  Chris     33

In [6]:
#Exercicio de criação: crie uma Pandas Series contendo os numeros de 1 a 10

import pandas as pd
numeros = pd.Series(range(1,11))
print(numeros)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
#Acesse o Terceiro elemento de uma Pandas Series e imprima seu valor. 

print(numeros[2])

3

In [ ]:
#Some duas Pandas Series contendo os números de 1 a 5 e os números de 6 a 10
#respectivamente

s1 = pd.Series(range(1,6))
s2 = pd.Series(range(6,11))
print(s1)
print(s2)

soma = s1 + s2
print(soma)

Crie uma Pandas Series contendo os números de 1 a 10 e exiba apenas os valores maiores que 5.

In [17]:
s3 = pd.Series(range(1,11))
#print(s3)

for s in s3:
    if s >= 5:
        print(s)

5
6
7
8
9
10

In [19]:
s3[s3>5]

5     6
6     7
7     8
8     9
9    10
dtype: int64

Calcule a media e o desvio padrão de uma Pandas Series contendo os números de 1 a 10.

In [25]:
s4 = pd.Series(range(1,11))
media = s4.mean()
print(f'A média é: {media}')

desvio_padrao = s4.std()
print(f'O desvio padrão é: {desvio_padrao}')

A média é: 5.5
O desvio padrão é: 3.0276503540974917

Concatene duas Pandas Series contendo números de 1 a 5 e 6 a 10, respectivamente, em uma única series.

In [38]:
s5 = pd.Series(range(1,6))
s6 = pd.Series(range(6,11))

serie_concatenada = pd.concat([s5,s6], axis=1)
print(serie_concatenada)

   0   1
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

Subtraia uma Pandas Series contendo os números de 1 a 10 por uma outra Series contendo os números de 10 a 1.

In [41]:
s10 = pd.Series(range(1,11))
s11 = pd.Series(range(10,0,-1))

sub = s10- s11
print(sub)

0   -9
1   -7
2   -5
3   -3
4   -1
5    1
6    3
7    5
8    7
9    9
dtype: int64

Ordene uma Pandas Series contendo os números de 1 a 10 em ordem crescente

In [ ]:
s12 = pd.Series(range(1,11))
s12.sort_values(ascending= False)

In [45]:
s1 = pd.Series([10,20,20,30,40,50,50], name = 'Serie 1')
s1.duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
Name: Serie 1, dtype: bool

In [46]:
s1 = pd.Series(range(1,11))
s1[3:8]

3    4
4    5
5    6
6    7
7    8
dtype: int64

Normalização de dados
v1 = (200,100,1000,150)
v2 = (10,20,30,40)
minimo, maximo
s1_min =

In [14]:
#Ex1 
#Sabendo que a tupla tem a informacao sobre a midia digital, qtd de likes e #dislikes. Responda:

dados = (('youtube', 550, 10),
('facebook', 822, 50),
('linkedin', 1226, 5), 
('instagram', 550000, 65))

dados
soma_likes = 0
soma_dislikes = 0 
media_likes = 0 
media_dislikes = 0 
maior = 0 
menor = 0 
lista_taxa_likes = []
lista_taxa_dislikes = [] 

# Qual a soma total de likes?
# Qual a soma total de dislikes?
# Qual a media de likes?
# Qual a média de dislikes? 
# Qual mídia apresenta maior e menor taxa de likes? 
# Faça uma alteração na tupla incluindo spotify com 968 likes e 31 dislikes
# Retorne uma nova tupla. 

for i in dados:
    nome, likes, dislikes = i 
    soma_likes += likes 
    soma_dislikes +=  dislikes
    media_likes = soma_likes/4
    media_dislikes = soma_dislikes/4
    taxa_likes = likes / (likes + dislikes)
    lista_taxa_likes.append(taxa_likes)
    taxa_dislikes = dislikes / (dislikes + likes)
    lista_taxa_dislikes.append(taxa_dislikes)
    maximo = min(lista_taxa_likes)
    minimo = max(lista_taxa_likes)
    

print(f'A soma dos likes é: {soma_likes}')
print(f'A soma dos dislikes é: {soma_dislikes}')
print(f'A media dos likes é: {media_likes}')
print(f'A media dos dislikes é: {media_dislikes}')
print(f'A mídia com maior taxa de likes é: {minimo}')
print(f'A mídia com menor taxa de likes é: {maximo}')
print(lista_taxa_likes)
print(lista_taxa_dislikes)

A soma dos likes é: 552598
A soma dos dislikes é: 130
A media dos likes é: 138149.5
A media dos dislikes é: 32.5
A mídia com maior taxa de likes é: 0.9998818321471099
A mídia com menor taxa de likes é: 0.9426605504587156
[0.9821428571428571, 0.9426605504587156, 0.9959382615759546, 0.9998818321471099]
[0.017857142857142856, 0.05733944954128441, 0.004061738424045491, 0.00011816785289011298]
4

In [20]:
dados
lista = list(dados)
lista.append(('spotify', 968, 31))
nova_tupla = tuple(lista)
nova_tupla

(('youtube', 550, 10),
 ('facebook', 822, 50),
 ('linkedin', 1226, 5),
 ('instagram', 550000, 65),
 ('spotify', 968, 31))

In [ ]:
soma_likes = 0
soma_dislikes = 0 
for k in dados:
    soma_likes += k[1]
    soma_dislikes += k[2]
    taxa_likes = likes / (likes + dislikes)
    taxa_dislikes = dislikes / (dislikes + likes)

In [23]:

tupla = (1, 2, 3)

tupla[0] = 0

print(lista)
print(tupla)

TypeError: 'tuple' object does not support item assignment

In [ ]:
dic = {
    ('Tipo': )
}

Análise de desempenho dos times no Brasileirão 2024. Sabendo que foram coletadas informações referente os pontos, vitórias e derrotas de cada time, utilize os dados abaixo no formato tupla e responda as seguintes perguntas:

a. Crie uma tupla com os dados apresentados.

Fortaleza, 48, 14, 3
Botafogo, 47, 14, 5
Palmeiras, 44, 14, 5
Flamengo, 44, 13, 5
São Paulo, 41, 12, 5

In [31]:
brasileirao = (('Fortaleza', 48,14,3), ('Botafogo', 47, 14, 5), ('Palmeiras', 44, 14, 5), ('Flamengo', 44, 13, 5), ('São Paulo', 41, 12, 5))
lista_taxa_vitorias = []
lista_taxa_derrotas = []

for i in brasileirao:
    time, pontos, vitorias, derrotas = i
    taxa_vitorias = pontos/vitorias
    lista_taxa_vitorias.append(taxa_vitorias)
    taxa_derrotas = pontos/derrotas 
    lista_taxa_derrotas.append(taxa_derrotas)
    maximo = max(lista_taxa_vitorias)
    minimo = min(lista_taxa_derrotas)

print(lista_taxa_vitorias)
print(lista_taxa_derrotas)
print(f'O time de maior taxa de vitórias é o Fortaleza: {maximo}')
print(f'O time de menor taxa de derrotas é o São Paulo: {minimo}')

[3.4285714285714284, 3.357142857142857, 3.142857142857143, 3.3846153846153846, 3.4166666666666665]
[16.0, 9.4, 8.8, 8.8, 8.2]
O time de maior taxa de vitórias é o Fortaleza: 3.4285714285714284
O time de menor taxa de derrotas é o São Paulo: 8.2

Fluminense, 24, 6, 6
Vitória, 22, 6, 4
Corinthians, 22, 4, 10
Cuiabá, 18, 4, 6
Atlético-GO, 18, 4, 6

In [34]:
brasileirao = (('Fortaleza', 48,14,3), ('Botafogo', 47, 14, 5), ('Palmeiras', 44, 14, 5), ('Flamengo', 44, 13, 5), ('São Paulo', 41, 12, 5))
brasileirao_dois = (('Fluminense', 24,6,6), ('Vitória', 22, 6, 4), ('Corinthians', 22, 4, 10), ('Cuiabá', 18, 4, 6), ('Atletico-GO', 18,4,6))
brasileirao_dois

tupla_concatenada = brasileirao + brasileirao_dois
tupla_concatenada

(('Fortaleza', 48, 14, 3),
 ('Botafogo', 47, 14, 5),
 ('Palmeiras', 44, 14, 5),
 ('Flamengo', 44, 13, 5),
 ('São Paulo', 41, 12, 5),
 ('Fluminense', 24, 6, 6),
 ('Vitória', 22, 6, 4),
 ('Corinthians', 22, 4, 10),
 ('Cuiabá', 18, 4, 6),
 ('Atletico-GO', 18, 4, 6))



lista.insert(0,'FIAP')
lista

posicao_insercao = lista.index('foo') + 1
lista.insert(posicao_insercao, 'foo fighters')

In [57]:
brasileirao_dois = (('Fluminense', 24,6,6), ('Vitória', 22, 6, 4), ('Corinthians', 22, 4, 10), ('Cuiabá', 18, 4, 6), ('Atletico-GO', 18,4,6))
lista = list(brasileirao_dois)

lista.remove(('Fluminense', 24,6,6))
lista.insert(0,('Fluminense', 28,7,7))
lista
nova_tupla = tuple(lista)
print(nova_tupla)

(('Fluminense', 28, 7, 7), ('Vitória', 22, 6, 4), ('Corinthians', 22, 4, 10), ('Cuiabá', 18, 4, 6), ('Atletico-GO', 18, 4, 6))

In [43]:
brasileirao = (('Fortaleza', 48,14,3), ('Botafogo', 47, 14, 5), ('Palmeiras', 44, 14, 5), ('Flamengo', 44, 13, 5), ('São Paulo', 41, 12, 5))

soma_pontos = 0
soma_vitorias = 0 
soma_derrotas = 0 

for k in brasileirao:
    time,pontos,vitorias,derrotas = k
    soma_pontos = soma_pontos + pontos
    soma_vitorias = soma_vitorias + vitorias
    soma_derrotas = soma_derrotas + derrotas

print(f"A soma total de pontos é: {soma_pontos}")
print(f"A soma total de vitorias é: {soma_vitorias}")
print(f"A soma total de derrotas é: {soma_derrotas}")

A soma total de pontos é: 224
A soma total de vitorias é: 67
A soma total de derrotas é: 23

Calcule as taxas de pontos/vitórias e pontos/derrotas para cada time e encontre o time com a maior e a menor taxa pontos/vitórias.

In [ ]:
brasileirao = (('Fortaleza', 48,14,3), ('Botafogo', 47, 14, 5), ('Palmeiras', 44, 14, 5), ('Flamengo', 44, 13, 5), ('São Paulo', 41, 12, 5))

In [58]:
brasileirao = (('Fortaleza', 48,14,3), ('Botafogo', 47, 14, 5), ('Palmeiras', 44, 14, 5), ('Flamengo', 44, 13, 5), ('São Paulo', 41, 12, 5))

lista_taxa_vitorias = []
lista_taxa_derrotas = []

for i in brasileirao:
    time, pontos, vitorias, derrotas = i
    taxa_vitorias = pontos/vitorias
    lista_taxa_vitorias.append(taxa_vitorias)
    taxa_derrotas = pontos/derrotas 
    lista_taxa_derrotas.append(taxa_derrotas)

print(f'A lista com a taxa de vitórias dos times é:{lista_taxa_vitorias}')
print(f'A lista com a taxa de derrotas dos times é:{lista_taxa_derrotas}')

A lista com a taxa de vitórias dos times é:[3.4285714285714284, 3.357142857142857, 3.142857142857143, 3.3846153846153846, 3.4166666666666665]
A lista com a taxa de derrotas dos times é:[16.0, 9.4, 8.8, 8.8, 8.2]

In [62]:
tupla = (1,2,3)
len(tupla)

3

CP 1

In [ ]:
#2 Calcule a taxa/relação vitorias/derrotas

times = (('Fortaleza', 48,14,3), ('Botafogo', 47, 14, 5), ('Palmeiras', 44, 14, 5), ('Flamengo', 44, 13, 5), ('São Paulo', 41, 12, 5))
taxa_vitorias = []

for times in times:
    time, pontos, vitoria, derrota = times
    taxa_vitoria = vitoria / (vitoria + derrota)
    taxa_vitorias.append((time, pontos, vitoria, derrota, taxa_vitoria))

maior_taxa = max(taxa_vitorias)
menor_taxa = min(taxa_vitorias)

Estruturas com função def

In [2]:
# Ex. 1 - Operação Soma

def soma_sub (a,b,c):
    "Função para realizar soma entre três números"
    somar = a + b + c
    sub = a-b-c

    return somar, sub
soma_sub(100,30,50)

(180, 20)

In [3]:
# Separar os resultados do return
# soma e subtracao recebem somar e sub, respectivamente do return

soma, subtracao = soma_sub(100,30,50)
print(soma)
print(subtracao)

180
20

2. Crie uma função que retorne as seguintes operações (soma, subtração, divisão e multiplicação). Crie uma estrutura a qual retorne os resultados separados. Utilize 4 números.

In [9]:
def operacoes(a,b,c,d):
    soma = a+b+c+d
    sub = a-b-c-d
    multi = a*b*c*d 
    if b or c or d == 0:
        print('Erro')
    else:
        div = a/b/c/d

    return soma, sub, div, multi

#operacoes(110,40,50,60)
somar, subtracao, multiplicacao, divisao = operacoes(10,200,300,400)
print(soma)
print(subtracao)
print(multiplicacao)
print(divisao)

Erro

UnboundLocalError: cannot access local variable 'div' where it is not associated with a value

3. Crie uma função que retorne a soma e média de uma lista. 
lista = [10, 20, 30, 40, 50]

In [11]:
lista = [10, 20, 30, 40, 50]

def soma_media(lista):
    soma = 0
    media = 0
    for i in lista:
        soma += i
    media = soma/len(lista)
    
    return soma, media

soma, media = soma_media(lista)
print(soma)
print(media)

150
30.0

4. Crie uma função para retornar a soma e média de cada lista, além da soma e média entre as três listas. 
lista1 = [10,20,30,40,50]
lista2 = [5,10,15,20,25,30,35,40,45,50]
lista3 = [5,10,15,20,25,30,35,40,45,50,55,60,65,70]

In [12]:

lista1 = [10,20,30,40,50]
lista2 = [5,10,15,20,25,30,35,40,45,50]
lista3 = [5,10,15,20,25,30,35,40,45,50,55,60,65,70]

def operacoes_lista(lista1, lista2, lista3):
    somaL1 = sum(lista1)
    mediaL1 = somaL1 / len(lista1)

    somaL2 = sum(lista2)
    mediaL2 = somaL2 / len(lista2)

    somaL3 = sum(lista3)
    mediaL3 = somaL3 / len(lista3)

    soma_listas = somaL1 + somaL2 + somaL3
    media_listas = soma_listas/3

    return somaL1, mediaL1, mediaL2, somaL3, mediaL3, soma_listas, media_listas

operacoes_lista(lista1, lista2, lista3)

(150, 30.0, 27.5, 525, 37.5, 950, 316.6666666666667)

Função chama função

In [2]:
def soma(a,b):
    'Função som'
    soma = a + b
    return soma

def media(a,b):
    'Função Média'
    media = soma(a,b)/2
    return media 

print(soma(2,4))
print(media(2,4))

6
3.0

In [3]:
#Criar uma função que retorna a soma dos quadrados

def eleva_quadrado(x):
    'Função eleva ao quadrado'
    y = x**2
    return y
def soma_quadrado(a,b,c,d,e):
    'Função que soma os números'
    x = eleva_quadrado(a)
    y = eleva_quadrado(b)
    z = eleva_quadrado(c)
    w = eleva_quadrado(d)

    soma  = x+y+z+w
    return soma

soma_quadrado(5,10,15,20,25)
print(soma_quadrado)

<function soma_quadrado at 0x1038520c0>

In [6]:
# Função para calcular a área de um retângulo

def area(comprimento, largura):
    'Função que calcula a área de um retângulo'
    area_ret = comprimento * largura

    return area_ret

def mostra_area():
    'Função para mostrar o resultado'
    print('A área do retângulo é ', ar)
    
l = float(input('Digite o comprimento'))
c = float(input('Digite a largura:'))

ar = area(l,c)
mostra_area()

A área do retângulo é  50.0

In [11]:
# Função para calcular a área de um círculo e retornar as seguintes informações
# a) area > 100 - area_grande
# b) a > 50 - área _media
# c) area < 50 - area_pequena 

def area_circulo(raio):
    'Função para calcular a área do círculo'
    area_circ = 3.14 * (raio ** 2)
    return area_circ

def mostrar_circulo():
    'Função mostrar o resultado'
    if ac > 100:
        return 'área_grande'
    elif ac > 50 and ac < 100:
        print('A área do círculo é uma área média de', ac)
    else:
        print('A área do círculo é uma área pequena de', ac)


r = float(input('Digite o raio do círculo:'))

ac = area_circulo(r)
mostrar_circulo ()

A área do círculo é uma área média de 50.24

In [ ]:
r = float(input('Digite o raio:'))
def calcula_area(raio):
    'Função para calcular a área do círculo'
    area_circ = 3.14 * (raio ** 2)
    return area_circ


def status_circulo(area): # pra essa func funcionar tem q calcular a area 
    'Função mostrar o resultado'
    if area > 100:
        return 'área_grande'
    elif area > 50 and area < 100:
        return 'área média'
    else:
        return 'area pequena'
    


status_circulo(calcula_area(5))

In [ ]:
def multiplica(a,b):
    multi = a * b

    return multi

def multiplicar_lista(lista1, lista2):
    produtos = []

    for i in range(len(lista1)):
        produtos.append(multiplica(lista1[i],lista2[i]))
        return produtos

listaA = [1,2,3,4]
listaB = [5,6,7,8]

resultado = multiplicar_lista(listaA, listaB)

Exercício 1 - Crie um algoritmo utilizando função dentro de função que faz as quatro operações básicas (soma, subtração, multiplicação e divisão):

In [15]:
a = int(input('Digite o primeiro numero:'))
b = int(input('Digite o segundo número:'))

def soma(a, b):
    return a + b
def sub(a, b):
    return a - b
def multi(a, b):
    return a * b
def div(a, b):
    if b == 0:
        print('Erro! Divisão por zero!')
    else:
         return a / b

def resultados (a,b):
    'Mostrar resultados'
    print('A soma dos valores é:', soma(a,b))
    print('A subtração dos valores é:', sub(a,b))
    print('A multiplicação dos valores é:', multi(a,b))
    print('A divisão dos valores é:', div(a,b))

resultados(a,b)

A soma dos valores é: 10
A subtração dos valores é: 10
A multiplicação dos valores é: 0
Divisão por zero!
A divisão dos valores é: None

Exercício 2 - Crie uma calculadora de média solicitando número para o usuário até que ele digite 'fim'. Crie uma função para solicitar a informação para o usuário (números), em seguida, crie outra função para apresentar a média deste valores.

In [ ]:
def numeros():
    lista_num = []
    while True: 
        num = input('Digite um número:')
        lista_num.append(num)
        if num == 'fim':
            break
        else:
            lista_num.append(float(num))

# Função dentro de função (função chamando função)
1. Crie uma estrutura com função a qual solicite 5 números para um usuário. Após isso, crie uma nova função para calcular a soma dos valores inseridos na lista. Em seguida, crie uma função para retornar a média dos valores da lista.

In [28]:
lista_nums = []

def numeros():
    
    for n in range(5):
        num = int(input(f"Digite o número {n}"))
        lista_nums.append(num)
    return lista_nums

def soma_valores(lista_nums):
    soma = 0
    for l in lista_nums:
        soma += l 
    return soma

def media_valores(soma_valores):
    media = soma_valores(lista_nums) / len(lista_nums)
    return media

print(f"A sooma dos valores é: {soma_valores(numeros())}")
print(f"A média dos valores é {media_valores(soma_valores)}")

A sooma dos valores é: 50
A média dos valores é 10.0

In [29]:
# Estruturas de repetição com while true e try
# é o mesmo que if e else , mas so pode ser usado com whle

celsius_lista = []

while True:
    entrada = input("Digite a temperatura em Fahrenheit:")

    if entrada.lower() == 'sair':
        break
    
    try:
        fahrenheit = float(entrada)
        celsius = (fahrenheit - 32) * 5 / 9
        celsius_lista.append(fahrenheit)

    except ValueError:
        print('Valor inválido')

print(celsius_lista)

[10.0, 10.0, 10.0, 10.0]

In [1]:
import pandas as pd

In [2]:
dados = {
    'Nome':['João', 'Maria', 'Pedro', 'Ana', 'Mark'],
    'Idade': [25,30,35,40,34],
    'Salario': [5000, 6000, 7000, 8000, 9000]
}
df = pd.DataFrame(dados)
df

    Nome  Idade  Salario
0   João     25     5000
1  Maria     30     6000
2  Pedro     35     7000
3    Ana     40     8000
4   Mark     34     9000

In [33]:
i = 0
while i < len(df):
    print('Nome', df['Nome'][i], 'Idade', df['Idade'][i])
    i += 1

Nome João Idade 25
Nome Maria Idade 30
Nome Pedro Idade 35
Nome Ana Idade 40
Nome Mark Idade 34

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Nome     5 non-null      object
 1   Idade    5 non-null      int64
 2   Salario  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [37]:
df.to_csv('dados.csv')

In [38]:
i = 0
while i < len(df):
    if df['Salario'][i] > 6000:
        print(df.iloc[i]) #seleciona tds linhas e colunas de i
    i += 1

Nome       Pedro
Idade         35
Salario     7000
Name: 2, dtype: object
Nome        Ana
Idade        40
Salario    8000
Name: 3, dtype: object
Nome       Mark
Idade        34
Salario    9000
Name: 4, dtype: object

In [ ]:
salario = df['Salario']
print(salario)

In [40]:
input = df[['Nome', 'Idade']]
output = ['Salario']

In [ ]:
#Estrutura de repeticao com fort

for k in df['Salario']:
    print(k)

In [42]:
# seleciona colunas do tipo int e float. Pode ser outros tipos também 
for k in df.select_dtypes(include = [ 'int', 'float']):
    media = df[k].mean()
    print('Média de', k, 'é', media)

Média de Idade é 32.8
Média de Salario é 7000.0

In [44]:
for k in df.select_dtypes(include = [ 'object']):
    contador = df[k].value_counts()
    print('Média de', k, 'é', contador)

Média de Nome é Nome
João     1
Maria    1
Pedro    1
Ana      1
Mark     1
Name: count, dtype: int64

In [5]:
soma_salarios = 0

i = 0

while i < len(df):
    soma_salarios += df['Salario'][i]
    i += 1 

    media_salarios = soma_salarios / i

    print(media_salarios)

5000.0
5500.0
6000.0
6500.0
7000.0

In [4]:
soma_salarios = 0
contador = 0
i = 0

while i < len(df):
    soma_salarios += df['Salario'][i]
    contador += 1
    media_salarios = soma_salarios / contador
    

    if media_salarios > 6000:
        break
    i += 1 

    print(media_salarios)

5000.0
5500.0
6000.0

In [6]:
def calcula_bonus(salario):
    aumento = salario * 0.1
    return aumento 

bonus = []

for indice, linha in df.iterrows():
    bonus.append(calcula_bonus(df['Salario']))

print('Bonus calculado é: ', bonus)

Bonus calculado é:  [0    500.0
1    600.0
2    700.0
3    800.0
4    900.0
Name: Salario, dtype: float64, 0    500.0
1    600.0
2    700.0
3    800.0
4    900.0
Name: Salario, dtype: float64, 0    500.0
1    600.0
2    700.0
3    800.0
4    900.0
Name: Salario, dtype: float64, 0    500.0
1    600.0
2    700.0
3    800.0
4    900.0
Name: Salario, dtype: float64, 0    500.0
1    600.0
2    700.0
3    800.0
4    900.0
Name: Salario, dtype: float64]

In [7]:
for index, row in df.iterrows():
    print(row['Nome'], row['Idade'])

João 25
Maria 30
Pedro 35
Ana 40
Mark 34

In [8]:
for index, row in df.iterrows():
    if row['Salario'] > 6000:
        print(row['Nome'], row['Idade'])

Pedro 35
Ana 40
Mark 34

Utilizando o dataframe manutenção preditiva, responda as seguintes questões:

a) utilize o select dtypes para mostrar a media de todas as colunas numéricas.

b) utlize o select dtypes para mostrar contar os valores das colunas não numéricas

c) utilize uma estrutura de repetição  para mostrar todo dataset apenas quando as máquinas forem do tipo A. 

d) Utilize uma estrutura 

e) mostre a quantidadde de falhas por tipo

In [2]:
for i in range (1,11):
    for k in range(1,11):
        print(f"{i} x {k} = {i*k}")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [3]:
alunos1 = [7,8,9,10,6]
alunos2 = [8,9,10,5,7]

for nota1 in alunos1:
    for nota2 in alunos2:
        if nota1 == nota2:
            print(f"Nota igual encontrada: {nota1}")

Nota igual encontrada: 7
Nota igual encontrada: 8
Nota igual encontrada: 9
Nota igual encontrada: 10

In [4]:
# 

lista1 = [1,2,3]
lista2 = [4,5,6]

for i in range(len(lista1)):
    for k in range(len(lista2)):
        if i == k:
            print(f'A soma dos elementos na posicao {i} é {lista1[i] + lista2[k]}')

A soma dos elementos na posicao 0 é 5
A soma dos elementos na posicao 1 é 7
A soma dos elementos na posicao 2 é 9

In [5]:
palavras = ['python', 'matlab', 'javascript', 'vscode', 'spyder']
vogais = 'aeiou'

for palavra in palavras:
    count_vogais = 0 #inicializou a variavel 
    
    for letra in palavra:
        if letra in vogais:
            count_vogais += 1

    print(f'A palavra {palavra} tem {count_vogais} vogais')

A palavra python tem 1 vogais
A palavra matlab tem 2 vogais
A palavra javascript tem 3 vogais
A palavra vscode tem 2 vogais
A palavra spyder tem 1 vogais

In [ ]:
1. Crie uma estrutura para mostrar uma tabuada que calcule a multiplicacao de numeros de 2 a 6. 
2. Crie uma estrutura para contar as consoantes nas palavras da lista abaixo lista_palavras = ['brazil', 'inglaterra', 'estados unidos', 'canada', 'chile']
3. Crie uma estrutura para verificar se as palavras-chave aparecem nos parágrafos: lista_texto = ['hoje é sexta-feira', 'em 2022, tivemos a copa do mundo', 'a melhor forma de estudar python é praticar']
palavras_chave = ['hoje', 'mundo', 'estudar', 'praticar']

ESTUDAR APPLY (row, axis) , LAMBDA APLICADO A DATAFRAME

In [ ]:
#1
for i in range(2,7):
    for k in range(2,7):
        print(f'{i} x {k} = {i*k}')

In [9]:
#2
lista_palavras = ['brazil', 'inglaterra', 'estados unidos', 'canada', 'chile']

consoantes = 'bcdfghjklmnpqrstvwxyz'

for palavra in lista_palavras:
    count_consoantes = 0
    for letra in palavra:
        if letra in consoantes:
            count_consoantes += 1
    print(f'A palavra {palavra} tem {count_consoantes}.')

A palavra brazil tem 4.
A palavra inglaterra tem 6.
A palavra estados unidos tem 7.
A palavra canada tem 3.
A palavra chile tem 3.

In [27]:
#3 
lista_texto = ['hoje é sexta-feira', 'em 2022, tivemos a copa do mundo', 'a melhor forma de estudar python é praticar']

palavras_chave = ['hoje', 'mundo', 'estudar', 'praticar']


for texto in lista_texto:
     x=  texto.split(' ')
     for palavra in x:
          if palavra in palavras_chave:
               print(f'A palavra-chave {palavras_chave} está no parágrafo {palavra}')

A palavra-chave ['hoje', 'mundo', 'estudar', 'praticar'] está no parágrafo hoje
A palavra-chave ['hoje', 'mundo', 'estudar', 'praticar'] está no parágrafo mundo
A palavra-chave ['hoje', 'mundo', 'estudar', 'praticar'] está no parágrafo estudar
A palavra-chave ['hoje', 'mundo', 'estudar', 'praticar'] está no parágrafo praticar

In [ ]:
import pandas as pd

df = pd.DataFrame([[4,5,6], [7,8,9]], columns=['coluna1', 'coluna2'])

df_normalizado = df.apply(lambda col: (col - col.min()) / (col.max() - col.min()))
df_normalizado

In [30]:
df = pd.DataFrame({
    'nome': ['alice', 'maria', 'pedro', 'thiago']
})
df['nome completo'] = df.apply(lambda x: x + 'silva')
df

     nome nome completo
0   alice    alicesilva
1   maria    mariasilva
2   pedro    pedrosilva
3  thiago   thiagosilva

AULA DE BUSCA

# Estrutura de dados em Json

In [1]:
import json

data = {
    'nome': 'joão', 
    'idade': 20, 
    'cidade': 'São Paulo'
}
data

{'nome': 'joão', 'idade': 20, 'cidade': 'São Paulo'}

In [3]:
#escrever dados 
with open('exemplo_json.json', 'w') as json_file:
    json.dump(data, json_file) # usa a biblio json pra salvar o dado 

#criou o arquivo

In [4]:
# ler dados

with open('exemplo_json.json', 'r') as json_file:
    df_json = json.load(json_file)

In [5]:
df_json

{'nome': 'joão', 'idade': 20, 'cidade': 'São Paulo'}

# Estrutura de dados em CSV

In [6]:
import pandas as pd
data = {
    'nome': ['ana', 'pedro', 'maria', 'camila'],
    'idade': [20, 49, 34, 23],
    'cidade': ['São Paulo', 'Fortaleza', 'Rio de Janeiro', 'Curitiba']
}
data

{'nome': ['ana', 'pedro', 'maria', 'camila'],
 'idade': [20, 49, 34, 23],
 'cidade': ['São Paulo', 'Fortaleza', 'Rio de Janeiro', 'Curitiba']}

In [8]:
df_csv = pd.DataFrame(data)
df_csv
df_csv.to_csv('exemplo_csv.csv', index = False)

In [10]:
# Lendo arquivo csv

df_csv = pd.read_csv('/Users/diegoc85/Downloads/Python/Aulas_Python/exemplo_csv.csv')
df_csv

     nome  idade          cidade
0     ana     20       São Paulo
1   pedro     49       Fortaleza
2   maria     34  Rio de Janeiro
3  camila     23        Curitiba

In [17]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd
# import openpyxl

data = {
    'nome': ['ana', 'pedro', 'maria', 'camila'],
    'idade': [20, 49, 34, 23],
    'cidade': ['São Paulo', 'Fortaleza', 'Rio de Janeiro', 'Curitiba']
}
df_excel = pd.DataFrame(data)
df_excel.to_excel('exemplo_excel.xlsx')

# Exercicios

In [19]:
import json

data = {
    'Nome': ['Ana', 'Pedro', 'Maria', 'Camila'], 
    'Profissão': ['Contador', 'Engenheiro', 'Arquiteto', 'Bancário'],
    'Idade': [20, 45, 43, 68],
    'Sexo': ['F', 'M', 'F', 'F']

}
data

{'Nome': ['Ana', 'Pedro', 'Maria', 'Camila'],
 'Profissão': ['Contador', 'Engenheiro', 'Arquiteto', 'Bancário'],
 'Idade': [20, 45, 43, 68],
 'Sexo': ['M', 'F']}

In [20]:
with open('exercicio1.json', 'w') as json_file:
    json.dump(data, json_file)

In [21]:
with open('exemplo_json.json', 'r') as json_file:
    df_json = json.load(json_file)

In [22]:
df_json
# JSon nao precisa transformar para Data Frame

{'nome': 'joão', 'idade': 20, 'cidade': 'São Paulo'}

In [23]:
data = {
    'Nome': ['Ana', 'Pedro', 'Maria', 'Camila'], 
    'Profissão': ['Contador', 'Engenheiro', 'Arquiteto', 'Bancário'],
    'Idade': [20, 45, 43, 68],
    'Sexo': ['F', 'M', 'F', 'F']

}
data

{'Nome': ['Ana', 'Pedro', 'Maria', 'Camila'],
 'Profissão': ['Contador', 'Engenheiro', 'Arquiteto', 'Bancário'],
 'Idade': [20, 45, 43, 68],
 'Sexo': ['F', 'M', 'F', 'F']}

In [24]:
df_csv = pd.DataFrame(data) # passar pr DF antes do CSV
df_csv
df_csv.to_csv('exercicio1.csv', index = False)

In [25]:
df_csv = pd.read_csv('/Users/diegoc85/Downloads/Python/Aulas_Python/exercicio1.csv')
df_csv

     Nome   Profissão  Idade Sexo
0     Ana    Contador     20    F
1   Pedro  Engenheiro     45    M
2   Maria   Arquiteto     43    F
3  Camila    Bancário     68    F

In [26]:
data = {
    'Nome': ['Ana', 'Pedro', 'Maria', 'Camila'], 
    'Profissão': ['Contador', 'Engenheiro', 'Arquiteto', 'Bancário'],
    'Idade': [20, 45, 43, 68],
    'Sexo': ['F', 'M', 'F', 'F']

}
data

{'Nome': ['Ana', 'Pedro', 'Maria', 'Camila'],
 'Profissão': ['Contador', 'Engenheiro', 'Arquiteto', 'Bancário'],
 'Idade': [20, 45, 43, 68],
 'Sexo': ['F', 'M', 'F', 'F']}

In [27]:
df_excel = pd.DataFrame(data)
df_excel.to_excel('exemplo1.xlsx')

In [29]:
for i in range(len(df_csv)):
    print(f" Nome:' {df_csv['Nome'][i]}, Idade: {df_csv['Idade'][i]}, Profissão: {df_csv['Profissão'][i]}")

 Nome:' Ana, Idade: 20, Profissão: Contador
 Nome:' Pedro, Idade: 45, Profissão: Engenheiro
 Nome:' Maria, Idade: 43, Profissão: Arquiteto
 Nome:' Camila, Idade: 68, Profissão: Bancário

In [30]:
i = 0

while i < len(df_csv['Nome']):
    print(f"Nome:{df_csv['Nome'][i]}, Idade:{df_csv['Idade'][i]}, Profissão:{df_csv['Profissão'][i]}")
    i += 1

Nome:Ana, Idade:20, Profissão:Contador
Nome:Pedro, Idade:45, Profissão:Engenheiro
Nome:Maria, Idade:43, Profissão:Arquiteto
Nome:Camila, Idade:68, Profissão:Bancário

In [36]:
df_csv = {
    'Nome': ['Ana', 'Pedro', 'Maria', 'Camila'], 
    'Profissão': ['Contador', 'Engenheiro', 'Arquiteto', 'Bancário'],
    'Idade': [20, 45, 43, 68],
    'Sexo': ['F', 'M', 'F', 'F']

}

dados = pd.DataFrame(df_csv)

def buscar_info(nome, dados):
    if nome in dados['Nome']:
        index = dados['Nome'].index(nome)
        return f"Nome: {nome}, Idade: {dados['Idade'][index]}, Profissão: {dados['Profissão'][index]}"
    else:
        return 'Nome não encontrado.'
    
print(buscar_info('Ana', df_csv))
print(buscar_info('Carlos', df_csv))

Nome: Ana, Idade: 20, Profissão: Contador
Nome não encontrado.

In [38]:
dados

     Nome   Profissão  Idade Sexo
0     Ana    Contador     20    F
1   Pedro  Engenheiro     45    M
2   Maria   Arquiteto     43    F
3  Camila    Bancário     68    F

In [39]:
calcular_media = lambda idades: sum(idades) / len(idades)
media_idade = calcular_media(dados['Idade'])
print(f"A média de idade é: {media_idade}")

A média de idade é: 44.0

In [1]:
#problema reclacionado a pessoas

class Pessoa:
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade 

p1 = Pessoa('Maria', 35)
p2 = Pessoa('Mark', 32)

print(p1.nome, p1.idade)
print(p2.nome, p2.idade)

lista_nomes = []
lista_idades = []
lista_pessoas = []

lista_pessoas.append([p1.nome, p2.nome])
lista_idades.append([p1.idade, p2.idade])

print(lista_pessoas)
print(lista_idades)

Maria 35
Mark 32
[['Maria', 'Mark']]
[[35, 32]]

In [3]:
class Carro:
    rodas = 4
    def __init__(self, marca, modelo):
        self.marca = marca
        self.modelo = modelo

carro1 = Carro('toyota', 'corolla')
carro2 = Carro('honda', 'civic')

print(carro1.marca, carro1.modelo)
print(carro2.marca, carro2.modelo)

Carro.rodas = 6

print(carro1.rodas)
print(carro2.rodas)

toyota corolla
honda civic
6
6

In [ ]:
class Retangulo:
    def __init__(self, largura, altura, comprimento): # 3 parametros 
        self.largura = largura
        self.altura = altura
        self.comprimento = comprimento 

    def calcular_area(self):
        return self.largura * self.largura
    
    def calcular_perimetro(self):
        return (2*self.largura) + (2*self.altura)
    
    def calcular_volume(self):
        return self.largura * self.altura * self.comprimento

retangulo1 = Retangulo(2,4, 5)

print(f"Area,{retangulo1.calcular_area()}")
print(f"Perimetro, {retangulo1.calcular_perimetro()}")
print(f"Volume, {retangulo1.calcular_volume()}")

#self é para poder atribuir os parametros (variaveis) ao objeto que sera criado retangulo1.

Area,4
Perimetro, 12

In [5]:
# classe Livros

class Livro:
    def __init__(self, titulo, autor):
        self.titulo = titulo
        self.autor = autor

    def detalhes(self):
        return (f"Titulo: {self.titulo}, Autor: {self.autor}")

livro1 = Livro('O Senhor dos Aneis', 'J.R.R Tolkien')
livro2 = Livro('Harry Potter', 'J.K. Rolling')

print(livro1.detalhes())
print(livro2.detalhes())

Titulo: O Senhor dos Aneis, Autor: J.R.R Tolkien
Titulo: Harry Potter, Autor: J.K. Rolling

Sistema de Gerenciamento de Reservas de Hotel - Criar um sistema de gerenciamento de reservas de hotel que permita adicionar, remover e listar reservas. Cada reserva deve incluir o nome do hóspede, o tipo de quarto e a duração da estadia. O sistema também deve calcular o custo total da estadia com base no tipo de quarto. Utilize função def e/ou lambda e explique seu algoritmo.

In [ ]:

reservas = []

def adicionar_reserva(nome, quarto, dias):
    if quarto == 'padrao':
        preco = 100
    elif quarto == 'luxo':
        preco = 250
    elif quarto == 'suite_master':
        preco = 500
    else:
        preco = 0
    custo_total = preco * dias

    reservas.append({'nome': nome, 'quarto': quarto, 'duracao da estadia': dias, 'custo total da estadia': custo_total})



def listar_reservas():
    for reserva in reservas:
        print(f"Nome: {reserva['nome']}, Quarto: {reserva['quarto']}, Duração da estadia: {reserva['duracao da estadia']} dias, Custo Total da Estadia: R${reserva['custo total da estadia']}")

def remover_reserva(nome):
    for reserva in reservas:
        if reserva['nome'] == nome:
            reservas.remove(reserva)
            break


adicionar_reserva("Diego", "luxo", 10)
adicionar_reserva("Rafael", "padrao", 5)
adicionar_reserva("Carol", "padrao", 20)
listar_reservas()
remover_reserva("Rafael")
listar_reservas()

Nome: Diego, Quarto: luxo, Duração da estadia: 10 dias, Custo Total da Estadia: R$2500
Nome: Rafael, Quarto: padrao, Duração da estadia: 5 dias, Custo Total da Estadia: R$500
Nome: Carol, Quarto: padrao, Duração da estadia: 20 dias, Custo Total da Estadia: R$2000
Nome: Diego, Quarto: luxo, Duração da estadia: 10 dias, Custo Total da Estadia: R$2500
Nome: Carol, Quarto: padrao, Duração da estadia: 20 dias, Custo Total da Estadia: R$2000

Sistema de Gerenciamento de Estacionamento - Criar um sistema de gerenciamento de estacionamento onde os usuários possam adicionar, remover e listar carros. Cada carro deve ter marca, cor e placa. Utilize função def e/ou lambda. Além disso, para a simulação do sistema, utilize uma estrutura de repetição

In [14]:
estacionamento_carros = []

def adicionar_carro(marca, cor, placa):
    carro = {'marca': marca, 'cor': cor, 'placa': placa}
    estacionamento_carros.append(carro)

def remover_carro(placa):
    for carro in estacionamento_carros:
        if carro['placa'] == placa:
            estacionamento_carros.remove(carro)
            break

def listar_carros():
    print("\nCarros no Estacionamento:")
    for carro in estacionamento_carros:
        print(f"Marca: {carro['marca']}, Cor: {carro['cor']}, Placa: {carro['placa']}")

adicionar_carro("Ix35", "Prata", 'JKO9886')
adicionar_carro("BYD Dolphin", "Preto", 'JKO98446')
listar_carros()
remover_carro('JKO98446')
listar_carros()

Carros no Estacionamento:
Marca: Ix35, Cor: Prata, Placa: JKO9886
Marca: BYD Dolphin, Cor: Preto, Placa: JKO98446

Carros no Estacionamento:
Marca: Ix35, Cor: Prata, Placa: JKO9886

Sistema de Gestão de Projeto de Software - Criar um sistema de gestão de projeto de software onde cada projeto pode ter múltiplas tarefas associadas. Cada tarefa deve incluir um título, uma descrição, um responsável e um status (não iniciado, em andamento, concluído). O sistema deve permitir adicionar, atualizar e listar tarefas para cada projeto. Utilize estrutura com função def e/ou lambda. Explique o seu algoritmo.

In [8]:
projetos = []

def adicionar_projeto(nome_projeto):
    projetos.append([nome_projeto, []])

def adicionar_tarefa(nome_projeto, titulo, descricao, responsavel, status):
    for projeto in projetos:
        if projeto[0] == nome_projeto:
            tarefa = [titulo, descricao, responsavel, status]
            projeto[1].append(tarefa)
            break
def atualizar_tarefa(nome_projeto, titulo_tarefa, novo_titulo, nova_descricao, novo_responsavel, novo_status):
    for projeto in projetos:
        if projeto[0] == nome_projeto:
            for tarefa in projeto[1]:
                if tarefa[0] == titulo_tarefa:
                    tarefa[0] = novo_titulo
                    tarefa[1] = nova_descricao
                    tarefa[2] = novo_responsavel
                    tarefa[3] = novo_status
                    return

def listar_tarefas(nome_projeto):
    for projeto in projetos:
        if projeto[0] == nome_projeto:
            print(f"Tarefas do Projeto: {nome_projeto}")
            for tarefa in projeto[1]:
                print(f"Título: {tarefa[0]}, Descrição: {tarefa[1]}, Responsável: {tarefa[2]}, Status: {tarefa[3]}")
            break

adicionar_projeto("Projeto Python")
adicionar_tarefa("Projeto CP3", "Tarefa 1", "Fazer prova", "Francisco", "Iniciado")
adicionar_tarefa("Projeto Web", "Tarefa 2", "Fazer Portfolio", "Caio", "em andamento")
atualizar_tarefa("Projeto CP4", "Tarefa 4", "Novo Semestre", "Prova do proximo semestre", "Joao da Silva", "em andamento")
listar_tarefas("Projeto CP4")
listar_tarefas('Projeto Python')

Tarefas do Projeto: Projeto Python

Crie um programa com função def a qual seja possível solicitar para o usuário nome, cpf, salario para três meses. Caso o funcionário tenha salario médio acima de 10 mil, terá bonus de 15%, caso tenha salario médio abaixo de 10 mil até 5 mil, terá bônus de 10%, abaixo de 5 mil, o funcionário terá 7% de aumento. Mostre toda estrutura em python

In [ ]:
def calcular_bonus_func():
    salarios = []
    nome = input("Digite o nome do funcionário: ")
    cpf = input("Digite o CPF dele: ")

    for i in range(3):
        salario = float(input(f"Digite o salário  para o mês {i + 1}: "))
        salarios.append(salario)
    
    media_salario = sum(salarios) / len(salarios)
    
    if media_salario > 10000:
        bonus = media_salario * 0.15
    elif media_salario >= 5000:
        bonus = media_salario * 0.10
    else:
        bonus = media_salario * 0.07

    print(f"Funcionário: {nome}")
    print(f"CPF: {cpf}")
    print(f"Média Salarial dos 3 meses: R$ {media_salario:.2f}")
    print(f"Bônus: R$ {bonus:.2f}")

calcular_bonus_func()

Funcionário: Diego
CPF: 01073385132
Média Salarial dos 3 meses: R$ 6666.67
Bônus: R$ 666.67