In [ ]:
lista = [('Diego', 35, 'São Paulo'), ('Carol', '30', 'São Paulo')] #lista de tuplas
cont = 0

for l in lista:
    cont += 1
    nome, idade, cidade = l
    print(f'O nome {cont} é: {nome}')
    print(f'A idade é: {idade}')
    print(f"A cidade onde mora é: {cidade}")

In [14]:
import pandas as pd

In [ ]:
frutas = ['maçã', 'banana', 'melão', 'uva']
df_frutas = pd.DataFrame(frutas, columns=['Frutas'])
df_frutas

In [ ]:
# Conversão de lista para DataFrame
colunas = ['Nome', 'Idade', 'Cidade']
df_lista = pd.DataFrame(lista,columns= colunas)
df_lista

In [ ]:
lista = [('Diego', 35, 'São Paulo'), ('Carol', '30', 'São Paulo')] 
lista.insert(2,('Rafael', 20, 'São Paulo'))

In [ ]:
#insert e remove

frutas = ['maçã', 'banana', 'melão', 'uva']
frutas.insert(1, 'Abacaxi')
frutas.remove('banana')

In [ ]:
tupla = ('Flamengo', 'Fluminense', 'São Paulo','Corinthians')

for t in range (1,len(tupla)):
    print (f'O time {t} é {tupla[t]}')

times = list(tupla)
times.insert(0,'Botafogo')
nova_tupla = tuple(times)

In [ ]:
tuplinha = (['Flamengo', 'Fluminense', 'Coritiba'], [1,2,3])

for t in tuplinha:
    time1, time2, time3 = t
    #print(time1, time2, time3)

In [64]:
nova_lissta = list(tuplinha)
nova_lissta.insert(0, [4,5,6])
nova2_tupla = tuple(nova_lissta)
nova2_tupla

([4, 5, 6], ['Flamengo', 'Fluminense', 'Coritiba'], [1, 2, 3])

In [67]:
#Função dentro de função
def calcular_area (largura, comprimento):
    area = largura * comprimento
    return area

def print_area():
    print('A área do retângulo é:', ar)

largura = float(input('Digite o valor da largura:'))
comprimento = float(input('Digite o valor do comprimento:'))

ar = calcular_area(largura, comprimento)
print_area()

A área do retângulo é: 200.0

In [68]:
def soma_valores(a,b):
    soma = a + b
    return soma

def print_soma():
    print('A soma dos valores é:',sv)

a = float(input('Digite o valor de a:'))
b = float(input('Digite o valor de b:'))

sv = soma_valores(a,b)
print_soma()

A soma dos valores é: 20.0

In [69]:
import math

In [73]:
def calculo_areac(raio):
    area = math.pi * (raio**2)
    return area

def print_circulo():
    if arc > 50:
        print(f'A área {arc} do círculo é grande')
    elif arc == 50:
        print(f"A área {arc} do círculo é média")
    else:
        print(f"A área {arc} do círculo é pequena")

raio = float(input('Digite o raio:'))

arc = calculo_areac(raio)
print_circulo()

A área 314.1592653589793 do círculo é grande

In [76]:
def operacoes(a,b):
    soma = a + b
    sub = a - b
    mult = a * b
    div = a / b

    return soma, sub, mult, div

def print_operacoes():
    print(f"A soma dos valores é: {soma}")
    print(f"A subtração dos valores é: {sub}")
    print(f"A multiplicação dos valores é: {mult}")
    print(f"A divisão dos valores é: {div}")

a = float(input('Digite a:'))
b = float(input('Digite b:'))

soma, sub, mult, div = operacoes(a,b)
print_operacoes()

A soma dos valores é: 20.0
A subtração dos valores é: 0.0
A multiplicação dos valores é: 100.0
A divisão dos valores é: 1.0

In [77]:
def calculo_media(lista_valores):
    if len(lista_valores) == 0:
        return 0
    return sum(lista_valores) / len(lista_valores)

def print_valores_media():
    lista_valores = []
    while True:
        valor = input("Digite um valor (ou 'fim'para encerrar):")
        if valor.lower() == 'fim':
            print('loop encerrado.')
            break 
        try:
            lista_valores.append(float(valor))
        except ValueError:
            print('Entrada inválida. Por favor, digite um número.')
    return lista_valores

lista_valores = print_valores_media()
media = calculo_media(lista_valores)
print(f'A média dos valores digitados é: {media}')

loop encerrado.
A média dos valores digitados é: 13.333333333333334

LAMBDA

In [79]:
maiusculas = lambda s: s.upper()
minusculas = lambda s: s.lower()

print(maiusculas('hoje é sexta-feira'))
print(minusculas('SÁBADO TEM JOGO'))

HOJE É SEXTA-FEIRA
sábado tem jogo

In [84]:
#SOMAR 2 NUMEROS
soma = lambda x, y: x + y
#resultado = soma(5,3)
#resultado
soma(10,5)

15

In [83]:
# SUBTRAIR 2 NUMEROS
sub = lambda x, y: x - y
sub(10,5)

5

In [85]:
avaliacao = lambda nota: 'A' if nota > 7 else 'B'
print(avaliacao(5))

B

In [87]:
avalicao = lambda nota: 'A' if nota > 7 else('B' if nota >= 5 else 'C')
print(avaliacao(5))
print(avaliacao(8))

B
A

In [90]:
classificacao = lambda idade: 'Criança' if idade < 12 else('Adolescente' if idade < 18 else('Adulto' if idade < 60 else 'Idoso'))
numero = float(input('Qual sua idade?'))
print(classificacao(numero))

Adulto

In [93]:
lista_num = [1,2,3,4,5]
quadrado = list((map(lambda x: x**2, lista_num)))
print(quadrado)

[1, 4, 9, 16, 25]

In [94]:
palavras = ['python', 'é', 'muito', 'usado', 'para', 'data science']
maiuscula = list(map(lambda palavra:palavra.upper(), palavras))
print(maiuscula)

['PYTHON', 'É', 'MUITO', 'USADO', 'PARA', 'DATA SCIENCE']

In [97]:
numeros = [1,2,3,4,5]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)

[2, 4]

In [ ]:
palavras = ['casa', 'moto', 'caro', 'caminhão']
comprimento_palavras = list(map(lambda w: len(w), palavras))
print(comprimento_palavras)

In [100]:
numeros = [2,50,100,450,20,600]
maximo = max(numeros)
print(maximo)
posicao_maximo = numeros.index(maximo)
print(posicao_maximo)

600
5

In [ ]:
numeros = [2,50,100,450,20,600]
numeros_dois = [1,2,3,4,5,6]

for n in numeros:
    for j in numeros_dois:
        multi = n * j
        print(f" {n} x {j} = {multi}")

In [107]:
maior_cidade = ['SP', 'RJ', 'BH']
posicao = [1,2,3]
lista_ordem = []

for i in range(0, len(maior_cidade)):
    ordem = str(posicao[i]) + "." + maior_cidade[i] 
    lista_ordem.append(ordem)

print(lista_ordem)

['1.SP', '2.RJ', '3.BH']

In [109]:
#Usando a funcao zip() para associar 2 listas

nomes = ['Ana', 'Carlos', 'João', 'Maria']
idades = [25, 30, 22, 17]

associados = list(zip(nomes, idades))
print(associados)

for a in zip(nomes,idades):
    nome, idade = a
    print(f"{nome} tem {idade}.")

[('Ana', 25), ('Carlos', 30), ('João', 22), ('Maria', 17)]
Ana tem 25.
Carlos tem 30.
João tem 22.
Maria tem 17.

In [113]:
nomes = ['Ana', 'Carlos', 'João', 'Maria']
idades = [25, 30, 22, 17]
associados = []

for n in range(0,len(nomes)):
    associados.append((nomes[n], idades[n])) #Adiciona uma tupla com os itens de cada lista
print(associados)

for i in associados:
    nome, idade = i
    print(f"{nome} tem {idade}.")

[('Ana', 25), ('Carlos', 30), ('João', 22), ('Maria', 17)]
Ana tem 25.
Carlos tem 30.
João tem 22.
Maria tem 17.

In [114]:
nomes = ['Ana', 'Carlos', 'João', 'Maria']
idades = [25, 30, 22, 17]
associados = []

for i, nome in enumerate(nomes):
    associados.append((nome,idades[i]))
print(associados)

[('Ana', 25), ('Carlos', 30), ('João', 22), ('Maria', 17)]

In [115]:
times_cariocas = ['Flamengo', 'Fluminense', 'Botafogo', 'Vasco']

for indice, time in enumerate(times_cariocas):
    print(f"O íncide é {indice} e o nome é {time}")

O íncide é 0 e o nome é Flamengo
O íncide é 1 e o nome é Fluminense
O íncide é 2 e o nome é Botafogo
O íncide é 3 e o nome é Vasco

In [118]:
cidades = ['SP', 'MG', 'RJ', 'SC', 'PR', 'DF']
chuvas = [10,200,300,400,150,0]

max_chuvas = max(chuvas)
max_indice = chuvas.index(max_chuvas)
max_chuvas
max_indice


print(f"A cidade com mais chuvas é {cidades[max_indice]}")

A cidade com mais chuvas é SC